<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pcmtx -->
      <package
            uri="http://palladiosimulator.org/PalladioComponentModel/Transactional/1.0"
            class="org.palladiosimulator.pcmtx.PcmtxPackage"
            genModel="model/pcmtx.genmodel"/>
   </extension>

</plugin>
