<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin
  id="org.palladiosimulator.pcmtx.profile"
   name="org.palladiosimulator.pcmtx.profile"
   version="1.0.0.qualifier"
  provider="">
  <requires>
     <import plugin="org.modelversioning.emfprofile" version="1.1.0" match="greaterOrEqual" export="true"/>
     <import plugin="org.modelversioning.emfprofile.registry" version="1.0.0" match="greaterOrEqual" export="true"/>
  </requires>
  <extension point="org.modelversioning.emfprofile.profile">
     <profile
           profile_resource="profile.emfprofile_diagram">
     </profile>
  </extension>
  <extension
     point="org.eclipse.emf.ecore.uri_mapping">
    <mapping
       source="pathmap://PCMTX_MODELS/"
       target="platform:/plugin/org.palladiosimulator.pcmtx.profile/">
    </mapping>    
  </extension>
</plugin>
