<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pcmtx -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.pcmtx.presentation.PcmtxModelWizardID"
            name="%_UI_PcmtxModelWizard_label"
            class="org.palladiosimulator.pcmtx.presentation.PcmtxModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PcmtxModelFile.gif">
         <description>%_UI_PcmtxModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pcmtx -->
      <editor
            id="org.palladiosimulator.pcmtx.presentation.PcmtxEditorID"
            name="%_UI_PcmtxEditor_label"
            icon="icons/full/obj16/PcmtxModelFile.gif"
            extensions="pcmtx"
            class="org.palladiosimulator.pcmtx.presentation.PcmtxEditor"
            contributorClass="org.palladiosimulator.pcmtx.presentation.PcmtxActionBarContributor">
      </editor>
   </extension>

</plugin>
